.background-1 {
    width: 100vw;
    height: 100vh;
    display: flex; 
    flex-direction: column;
    align-content: center;
    background: rgb(244, 244, 244);
}

.comp-title {
    font-family: futura-pt,sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #1E1E1E;
    font-size: 100px;
    margin: 20px 40px;
    display: flex;
    justify-self: flex-start;
    text-decoration: underline;
}

.logos {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7%;
}

.wndr-logo {
    max-width: 500px;
    max-height: auto;
    margin-right: 30px;
}

.nn-logo {
    max-width: 500px;
    max-height: auto;
    margin-left: 30px;
}