

header {
    width: 100%;
    height: 100px;
}

.para-text {
    width: 80%;
    height: auto;
    display: flex;
    margin: 0 auto;
    color: rgb(244, 244, 244);
    font-family: futura-pt,sans-serif;
    font-weight: 700;
    font-size: 30px;
    font-style: normal;
    margin-top: 9%;
}

.abt-us {
    font-family: futura-pt,sans-serif;
    font-weight: 700;
    font-style: normal;
    color: rgb(244, 244, 244);
    font-size: 100px;
    padding: 20px 40px;
    display: flex;
    text-decoration: underline;
}
