.background-2 {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-content: center;
    background: #1E1E1E;
}

.box-text {
    display: flex;
}

.cont-text {
    font-family: futura-pt,sans-serif;
    font-weight: 700;
    font-style: normal;
    color: rgb(244, 244, 244);
    font-size: 100px;
    margin: 20px 40px;
    display: flex;
}

/* .input-holder {
    display: flex;
    justify-content: center;
    align-content: center;
} */

input {
    width: 100%;
    padding: 12px;
    margin: 6px 0 4px;
    border: 1px solid #ccc;
    background: #fafafa;
    color: #000;
    font-family: futura-pt,sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
    line-height: normal;
    box-sizing: border-box;
    border-radius: 1px;
    outline: none;
}
